# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
.env/

# PyCharm specific files
.idea/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Sensitive data
.env

# Build directories
build/
dist/

# Package distributions
*.egg
*.egg-info/
