<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Page</title>
    <link rel="stylesheet" href="path_to_your_style.css">
</head>
<body>
{% include 'header.html' %}

<!-- Contact Banner -->
<div id="Contact_Banner">

    <h1>Get in Touch!</h1>
    <p>Connect with me.</p>
</div>

<!-- Contact Form -->
<div class="contact-form-container">
    <form id="contactForm" method="post" name="sentMessage" action="{{url_for('contact')}}">
        <h1>Send an Email</h1>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="First and Last name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Your Email" required>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" placeholder="Optional">

        <label for="message">Message:</label>
        <textarea id="message" name="message" placeholder="Your message here!" required></textarea>

        <button type="submit">Send</button>
    </form>
</div>

{% if msg_sent %}
    <div class="success-message">
        <h1>Your message has been sent successfully!</h1>
    </div>
{% endif %}

{% include "footer.html" %}
</body>
</html>
