<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel= "stylesheet" href = "static/css/style.css">
</head>
{% include 'header.html' %}
<body>

      <!--Welcome Banner-->
      <section id="Welcome_Banner">
      <div class="container py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5">
          <div class="col-lg-6">
            <img src="static/images/hijab.png" style="width: 450px; height: auto;" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Hey, I'm Brygetee. </h1>
            <h5>
              I studied Computer Engineering in college, and these days, I'm focused on web development—particularly backend development with Python. I enjoy building efficient applications that make life easier and save time. Whether it's a big idea or something smaller, I’m all about turning concepts into real, working solutions.</h5>
          </div>
        </div>
      </div>
</section>

{% include 'footer.html' %}

</body>

</html>