<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="path/to/your/styles.css">
</head>
<body class="projects-page">
    {% include "header.html" %}
    <h1>Projects</h1>
    <div class="container">
        <div class="row">
                        <!-- First Project -->
<div class="col-lg-4">
    <div class="card">
        <!-- Project Image -->
        <img src="static/images/hijabi_computer.png" height="500" width="600" alt="Yearly Savings Planner" class="card-img-top rounded-circle">

        <div class="card-body">
            <!-- Project Title -->
            <h2 class="fw-normal">Personal Portfolio Website</h2>

            <!-- Description with added bottom margin -->
            <p class="project-text mb-3">
                <strong>Technologies Used:</strong> Python, Flask, Jinja2, HTML5, CSS3.
            </p>
            <p class="project-text mb-3">
                <strong>Key Features:</strong> Form Validation, Responsive Design, Modular Code Architecture, User-Friendly Interface.
            </p>
                <p class="project-text mb-3">
                <strong>What It Does:</strong>This budgeting app allows users to input their weekly income, expenses, and savings goals to determine if their current savings plan aligns with their objectives.
            </p>

            <!-- Buttons -->
            <p class="text-center">
                <a class="btn btn-primary mb-1" href="https://yearly-savings-planner-16a0140e664c.herokuapp.com/" target="_blank" rel="noopener noreferrer">View Project</a>
            </p>
            <p class="text-center">
                <a class="btn btn-secondary" href="https://github.com/Brygetee/Budgeting_App" target="_blank" rel="noopener noreferrer">GitHub Repo</a>
            </p>
        </div>
    </div>
</div>
            <!-- Second Project -->
<div class="col-lg-4">
    <div class="card">
        <!-- Project Image -->
        <img src="static/images/piggy-bank_pink.jpg" height="500" width="600" alt="Yearly Savings Planner" class="card-img-top rounded-circle">

        <div class="card-body">
            <!-- Project Title -->
            <h2 class="fw-normal">Yearly Savings Planner</h2>

            <!-- Description with added bottom margin -->
            <p class="project-text mb-3">
                <strong>Technologies Used:</strong> Python, Flask, Jinja2, HTML5, CSS3.
            </p>
            <p class="project-text mb-3">
                <strong>Key Features:</strong> Form Validation, Responsive Design, Modular Code Architecture, User-Friendly Interface.
            </p>
                <p class="project-text mb-3">
                <strong>What It Does:</strong>This budgeting app allows users to input their weekly income, expenses, and savings goals to determine if their current savings plan aligns with their objectives.
            </p>

            <!-- Buttons -->
            <p class="text-center">
                <a class="btn btn-primary mb-1" href="https://yearly-savings-planner-16a0140e664c.herokuapp.com/" target="_blank" rel="noopener noreferrer">View Project</a>
            </p>
            <p class="text-center">
                <a class="btn btn-secondary" href="https://github.com/Brygetee/Budgeting_App" target="_blank" rel="noopener noreferrer">GitHub Repo</a>
            </p>
        </div>
    </div>
</div>



            <!-- Third Project -->
<div class="col-lg-4">
    <div class="card">
        <!-- Project Image -->
        <img src="static/images/dermyjunkie.png" height="500" width="600" alt="@dermyjunkie Personal Website" class="card-img-top rounded-circle">

        <div class="card-body">
            <!-- Project Title -->
            <h2 class="fw-normal">@dermyjunkie Personal Website</h2>

            <!-- Description with added bottom margin -->
            <p class="project-text mb-3">
                <strong>Technologies Used:</strong> Python, Flask, Jinja2, HTML5, CSS3.
            </p>
            <p class="project-text mb-3">
                <strong>Key Features:</strong>User-Friendly Interface.
            </p>
                <p class="project-text mb-3">
                <strong>What It Does:</strong> Personal website that includes blog posts related to beauty and skincare.
            </p>

            <!-- Buttons -->
            <p class="text-center">
                <a class="btn btn-primary mb-1" href="#" target="_blank" rel="noopener noreferrer">View Project</a>
            </p>
            <p class="text-center">
                <a class="btn btn-secondary" href="https://github.com/Brygetee/dermyjunkie.git" target="_blank" rel="noopener noreferrer">GitHub Repo</a>
            </p>
        </div>
    </div>
</div>


            <!-- Fourth Project -->
            <div class="col-lg-4">
                <div class="card">
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <img src="static/images/blue_heart.png" height="100" width="auto" alt="Project 4" class="card-img-top rounded-circle">
                    </a>
                    <div class="card-body">
                        <h2 class="fw-normal">
                            <a href="#" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">Portfolio Website</a>
                        </h2>
                        <p class="project-text">Some representative placeholder content for the fourth project. This is the description of the project.</p>
                        <p class="text-center"><a class="btn btn-secondary" href="#">View details »</a></p>
                    </div>
                </div>
            </div>

            <!-- Fifth Project -->
            <div class="col-lg-4">
                <div class="card">
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <img src="static/images/blue_heart.png" height="100" width="auto" alt="Project 5" class="card-img-top rounded-circle">
                    </a>
                    <div class="card-body">
                        <h2 class="fw-normal">
                            <a href="#" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">Project 5</a>
                        </h2>
                        <p class="project-text">Some representative placeholder content for the fifth project. This is the description of the project.</p>
                        <p class="text-center"><a class="btn btn-secondary" href="#">View details »</a></p>
                    </div>
                </div>
            </div>

            <!-- Sixth Project -->
            <div class="col-lg-4">
                <div class="card">
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <img src="static/images/blue_heart.png" height="100" width="auto" alt="Project 6" class="card-img-top rounded-circle">
                    </a>
                    <div class="card-body">
                        <h2 class="fw-normal">
                            <a href="#" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">Project 6</a>
                        </h2>
                        <p class="project-text">Some representative placeholder content for the sixth project. This is the description of the project.</p>
                        <p class="text-center"><a class="btn btn-secondary" href="#">View details »</a></p>
                    </div>
                </div>
            </div>

            <!-- Seventh Project -->
            <div class="col-lg-4">
                <div class="card">
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <img src="static/images/blue_heart.png" height="100" width="auto" alt="Project 7" class="card-img-top rounded-circle">
                    </a>
                    <div class="card-body">
                        <h2 class="fw-normal">
                            <a href="#" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">Project 7</a>
                        </h2>
                        <p class="project-text">Some representative placeholder content for the seventh project. This is the description of the project.</p>
                        <p class="text-center"><a class="btn btn-secondary" href="#">View details »</a></p>
                    </div>
                </div>
            </div>

            <!-- Eighth Project -->
            <div class="col-lg-4">
                <div class="card">
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <img src="static/images/blue_heart.png" height="100" width="auto" alt="Project 8" class="card-img-top rounded-circle">
                    </a>
                    <div class="card-body">
                        <h2 class="fw-normal">
                            <a href="#" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">Project 8</a>
                        </h2>
                        <p class="project-text">Some representative placeholder content for the eighth project. This is the description of the project.</p>
                        <p class="text-center"><a class="btn btn-secondary" href="#">View details »</a></p>
                    </div>
                </div>
            </div>

            <!-- Ninth Project -->
            <div class="col-lg-4">
                <div class="card">
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <img src="static/images/blue_heart.png" height="100" width="auto" alt="Project 9" class="card-img-top rounded-circle">
                    </a>
                    <div class="card-body">
                        <h2 class="fw-normal">
                            <a href="#" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">Project 9</a>
                        </h2>
                        <p class="project-text">Some representative placeholder content for the ninth project. This is the description of the project.</p>
                        <p class="text-center"><a class="btn btn-secondary" href="#">View details »</a></p>
                    </div>
                </div>
            </div>

            <!-- Tenth Project -->
            <div class="col-lg-4">
                <div class="card">
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <img src="static/images/blue_heart.png" height="100" width="auto" alt="Project 10" class="card-img-top rounded-circle">
                    </a>
                    <div class="card-body">
                        <h2 class="fw-normal">
                            <a href="#" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">Project 10</a>
                        </h2>
                        <p class="project-text">Some representative placeholder content for the tenth project. This is the description of the project.</p>
                        <p class="text-center"><a class="btn btn-secondary" href="#">View details »</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>
